<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: black;
      color: white;
      text-align: center;
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    h1 {
      font-size: 32px;
      margin-top: 0;
    }

    .intro-section {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .credits-section {
      margin-top: 20px;
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="intro-section">
    <h1>Bem-vindo ao Athmos!</h1>
    <p>O objetivo é ajudar o Comet a desviar dos diferentes objetos e chegar ao espaço, passando pelos diferentes níveis da atmosfera.</p>
    <p>Use as setas do teclado para mover ou as teclas AWSD.</p>
  </div>

  <div class="credits-section">
    <p>José Manuel</p>
    <p>2023</p>
  </div>
</body>
</html>
